<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Welcome to Nature Green</a></h2>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<img src="images/nature-green.jpg" alt="Nature Green">
						<br><br>
						<p>This is <strong>Nature Green</strong>, a standards-compliant CSS template designed by <a href="http://www.100webhosting.com/">100 Web Hosting</a>. This web template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license, so you are free to use it for your website (even use it commercially) provided you keep the links in the footer intact. Other than that, you can customize it freely.</p>
						<p>If you plan to get a web hosting plan, make sure you check out <a href="http://www.100webhosting.com">100 Web Hosting</a> - an independent web hosting reviews, ratings and comparison resource.</p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Etiam vehicula, augue eu ultricies dictum, orci nisi suscipit sem, nec sollicitudin neque est ac massa. Phasellus elementum nibh vel odio. Proin orci nulla, viverra tempus, pharetra ut, varius nec, justo. Donec euismod molestie erat. Nulla lobortis bibendum magna. Nulla adipiscing justo eu erat.</p>
						<pb>Phasellus elementum nibh vel odio. Proin orci nulla, viverra tempus, pharetra ut, varius nec, justo. Donec euismod molestie erat.</p>
					</div>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<div id="search" >
							<form method="get" action="#">
								<div>
									<input type="text" name="s" id="search-text" value="" />
									<input type="submit" id="search-submit" value="GO" />
								</div>
							</form>
						</div>
						<div style="clear: both;">&nbsp;</div>
					</li>
					<li>
						<h2>About Us</h2>
						<p>We provide corporate and government agencies with top customer support, dedicated and customised solutions coupled with up-to-date technologies.</p>
					</li>
					<li>
						<h2>Our Services</h2>
						<ul>
							<li><a href="#">Starter Web Hosting</a></li>
							<li><a href="#">Business Web Hosting</a></li>
							<li><a href="#">VPS Servers</a></li>
							<li><a href="#">Dedicated Servers</a></li>
							<li><a href="#">Templated Web Design</a></li>
							<li><a href="#">Custom Web Design</a></li>
						</ul>
					</li>
					<li>
						<h2>Latest Clients</h2>
						<ul>
							<li><a href="#">Top 100 Web Hosting</a></li>
							<li><a href="#">Free Web Templates</a></li>
							<li><a href="#">WordPress Themes</a></li>
							<li><a href="#">Company Name</a></li>
							<li><a href="#">Another Company Name</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
</div>